# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [2]:
url = 'https://github.com/trending/developers'
html = requests.get(url).content
soup = BeautifulSoup(html, 'html')
# soup

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [5]:
# Empieza en el tercer ya que los 2 primeros son parte del header: 
text[:2]
# text

['Trending', 'These are the developers building the hot tools today.']

In [3]:
tag = ["h1","p"]
text = [element.text.replace('\n',' ').strip() for element in soup.find_all(tag)]
listofnames = [text[i]+" (@"+text[i+1]+")" for i in range(2, len(text), 3)] 
listofnames

['Ariel Mashraki (@a8m)',
 'Volodymyr Agafonkin (@mourner)',
 'JJ Kasper (@ijjk)',
 'Olivier Halligon (@AliSoftware)',
 'Romain Beaumont (@rom1504)',
 'afc163 (@afc163)',
 'Azure SDK Bot (@azure-sdk)',
 'Sandy Ryza (@sryza)',
 'William Candillon (@wcandillon)',
 'Zhanghao Wu (@Michaelvll)',
 'Stephen Dolan (@stedolan)',
 'Paul Beusterien (@paulb777)',
 'Tianon Gravi (@tianon)',
 'Magnus Edenhill (@edenhill)',
 'Brian Flad (@bflad)',
 'jdhao (@jdhao)',
 'C. T. Lin (@chentsulin)',
 'Nolan Lawson (@nolanlawson)',
 'Kent C. Dodds (@kentcdodds)',
 'Dotan Simha (@dotansimha)',
 'Don Jayamanne (@DonJayamanne)',
 'Ian Storm Taylor (@ianstormtaylor)',
 'George Hotz (@geohot)',
 'Maurizio Pillitu (@maoo)',
 'yan (@diracdeltas)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [8]:
url = 'https://github.com/trending/python?since=daily'
html = requests.get(url).content
trep_soup = BeautifulSoup(html)
reps = trep_soup.find_all('h1',{'class':'h3 lh-condensed'})
repos = [rep.a['href'].strip('/') for rep in reps]
repos

['paperswithcode/galai',
 'raminmh/CfC',
 'Asabeneh/30-Days-Of-Python',
 'onnx/onnx',
 'FlagAI-Open/FlagAI',
 'geohot/tinygrad',
 'sqlmapproject/sqlmap',
 'mli/autocut',
 'trekhleb/learn-python',
 'testanull/ProxyNotShell-PoC',
 'Visualize-ML/Book3_Fundamentals-of-Mathematics',
 'Gioman101/FlipperAmiibo',
 'Visualize-ML/Book4_Power-of-Matrix',
 'babysor/MockingBird',
 'TheAlgorithms/Python',
 'zjc062/mind-vis',
 'adamian98/pulse',
 'thebaselab/codeapp',
 'microsoft/pyright',
 'aws/aws-sam-cli',
 'thunil/TecoGAN',
 'limoruirui/misaka',
 'mikf/gallery-dl',
 'SHI-Labs/Versatile-Diffusion',
 'open-mmlab/mmdeploy']

#### Display all the image links from Walt Disney wikipedia page

In [9]:
url = 'https://en.wikipedia.org/wiki/Walt_Disney'
html = requests.get(url).content
wdimg_soup = BeautifulSoup(html)
imgs = wdimg_soup.find_all('a',{'class':'image'})
images = ['https:' + img.img['src'] for img in imgs]
images

['https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Walt_Disney_1946.JPG/220px-Walt_Disney_1946.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Walt_Disney_1942_signature.svg/150px-Walt_Disney_1942_signature.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg/220px-Walt_Disney_Birthplace_Exterior_Hermosa_Chicago_Illinois.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Walt_Disney_envelope_ca._1921.jpg/220px-Walt_Disney_envelope_ca._1921.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Trolley_Troubles_poster.jpg/170px-Trolley_Troubles_poster.jpg',
 'https://upload.wikimedia.org/wikipedia/en/thumb/4/4e/Steamboat-willie.jpg/170px-Steamboat-willie.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Walt_Disney_1935.jpg/170px-Walt_Disney_1935.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg/220px-Walt_Disney_Snow_white_1937_trailer_screenshot_%2813%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Disney_drawing_goofy.jpg/170px-Disney_drawing_goofy.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/WaltDisneyplansDisneylandDec1954.jpg/220px-WaltDisneyplansDisneylandDec1954.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/f/ff/Walt_disney_portrait_right.jpg/170px-Walt_disney_portrait_right.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Walt_Disney_Grave.JPG/170px-Walt_Disney_Grave.JPG',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Roy_O._Disney_with_Company_at_Press_Conference.jpg/170px-Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/DisneySchiphol1951.jpg/220px-DisneySchiphol1951.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Disney1968.jpg/170px-Disney1968.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Disney_Oscar_1953_%28cropped%29.jpg/170px-Disney_Oscar_1953_%28cropped%29.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Disneyland_Resort_logo.svg/135px-Disneyland_Resort_logo.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Animation_disc.svg/20px-Animation_disc.svg.png',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Magic_Kingdom_castle.jpg/15px-Magic_Kingdom_castle.jpg',
 'https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Blank_television_set.svg/21px-Blank_television_set.svg.png']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
url ='https://en.wikipedia.org/wiki/Python' 
html = requests.get(url).content
wpy_soup = BeautifulSoup(html)
lks = wpy_soup.find_all('li')
links = [lk.a['href'] for lk in lks if lk.a != None]

# Sí la referencia es interna, se completa el link y en caso de no contar con el https se añade
fixed_links = [url+link if link.startswith('#')
             else 'https://en.wikipedia.org'+ link if link.startswith('/wiki') 
             else 'https:'+ link if not link.startswith('https')
             else link for link in links]
             
print(len(fixed_links))
fixed_links[:10]

131

['https://en.wikipedia.org/wiki/Python#Snakes',
 'https://en.wikipedia.org/wiki/Python#Computing',
 'https://en.wikipedia.org/wiki/Python#People',
 'https://en.wikipedia.org/wiki/Python#Roller_coasters',
 'https://en.wikipedia.org/wiki/Python#Vehicles',
 'https://en.wikipedia.org/wiki/Python#Weaponry',
 'https://en.wikipedia.org/wiki/Python#Other_uses',
 'https://en.wikipedia.org/wiki/Python#See_also',
 'https://en.wikipedia.org/wiki/Pythonidae',
 'https://en.wikipedia.org/wiki/Python_(genus)']

#### Number of Titles that have changed in the United States Code since its last release point

In [12]:
url = 'http://uscode.house.gov/download/download.shtml' 
html = requests.get(url,).content
usc_soup = BeautifulSoup(html,"lxml") #Añadí el parser para evitar un WARNING

chgd = usc_soup.find_all('div',{'class':"usctitlechanged"})
changed = [x.text.replace('\n','').strip() for x in chgd]

num_titles = [re.findall('Title (\d+)',title)[0] for title in changed]
name_titles = [row.split('-')[1].replace('٭','').strip() for row in changed]
print(f'Number of titles: {len(num_titles)}\nTitle list: {num_titles}')
# pd.DataFrame(index = num_titles, data = name_titles, columns = ['columnas'])

Number of titles: 9
Title list: ['17', '22', '38', '40', '41', '42', '44', '49', '54']

#### A Python list with the top ten FBI's Most Wanted names

In [11]:
url = 'https://www.fbi.gov/wanted/topten'
html = requests.get(url).content
fbi_soup = BeautifulSoup(html)
wanted = fbi_soup.find_all('h3',{'class':"title"})
most_wanted = [top.text.strip('\n') for top in wanted]
most_wanted

['RUJA IGNATOVA',
 'ARNOLDO JIMENEZ',
 'OMAR ALEXANDER CARDENAS',
 'ALEXIS FLORES',
 'JOSE RODOLFO VILLARREAL-HERNANDEZ',
 'YULAN ADONAY ARCHAGA CARIAS',
 'BHADRESHKUMAR CHETANBHAI PATEL',
 'ALEJANDRO ROSALES CASTILLO',
 'MICHAEL JAMES PRATT',
 'RAFAEL CARO-QUINTERO']

#### 20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [13]:
url = 'https://www.emsc-csem.org/Earthquake/'
html=requests.get(url).content
soup = BeautifulSoup(html, 'html')

soupdate = [i.text for i in soup.find_all('a', href = True)]
date=[j[0:10] for j in soupdate if j[0:4] == "2022"]
time=[j[-10:] for j in soupdate if j[0:4] == "2022"]

souplace = [i.text for i in soup.find_all('td', class_ = "tabev1")]
latitude = [souplace[i].replace('\xa0','') for i in range(0,len(souplace),2)]
longitude = [souplace[i].replace('\xa0','') for i in range(1,len(souplace),2)]

region = [i.text for i in soup.find_all('td',class_='tb_region')]
df = pd.DataFrame(list(zip(date,time,latitude,longitude,region)), columns=['Date','Time','Latitude','Longitude','Region'])
df.head(10)

         Date        Time Latitude Longitude                        Region
0  2022-11-19  16:01:17.0    33.96    125.22                    YELLOW SEA
1  2022-11-19  15:42:49.0    11.95     86.58       NEAR COAST OF NICARAGUA
2  2022-11-19  15:41:40.2    46.85      7.41                   SWITZERLAND
3  2022-11-19  15:32:39.0    40.26    176.67   NORTH ISLAND OF NEW ZEALAND
4  2022-11-19  15:29:51.0    22.44     68.78            ANTOFAGASTA, CHILE
5  2022-11-19  15:27:16.0    19.30     68.75               TARAPACA, CHILE
6  2022-11-19  15:23:40.0     9.95    121.72                      SULU SEA
7  2022-11-19  15:10:53.0     7.86    117.33                      BALI SEA
8  2022-11-19  15:05:35.8    44.60      6.93                        FRANCE
9  2022-11-19  14:54:17.5    40.31    176.67   NORTH ISLAND OF NEW ZEALAND

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [14]:
url = 'https://www.mlh.io/seasons/na-2020/events'
html = requests.get(url).content
hck_soup = BeautifulSoup(html)

events = hck_soup.find_all('div',{'class':'event'})
events = [re.sub('[\s\S]*DIGITAL','',event.text) for event in events]
events = [re.sub('HIGH SCHOOL','',event) for event in events]
events = [re.sub(',','',event) for event in events]
data = [re.sub('\n+ *','\n',event).strip('\n').split('\n') for event in events]
colnames = ['title','date','city','country/state', 'format']
df_hack = pd.DataFrame(data, columns = colnames)
df_hack.head()

,title,date,city,country/state,format
0,HackMTY,Aug 24th - 25th,Monterrey,MX,In-Person Only
1,Citizen Hacks,Sep 6th - 8th,Toronto,ON,In-Person Only
2,PennApps,Sep 6th - 8th,Philadelphia,PA,In-Person Only
3,Hackathon de Futuras Tecnologías,Sep 7th - 8th,Torreón,MX,In-Person Only
4,Hack the North,Sep 13th - 15th,Waterloo,ON,In-Person Only

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [15]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [21]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url

user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome()

try:
    driver.get(url)
    time.sleep(2)
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'html.parser')
    tweets = soup.select("div [class = 'css-1dbjc4n r-1habvwh'] > div[dir='auto']")
    num_tweets = tweets[0].text.replace("\xa0",' ')
    driver.quit()
    print(f'User {user} got {num_tweets}')
    
except:
    print('User invalid, try again.')
    driver.quit()

 BarackObama

User BarackObama got 16,6 mil Tweets

In [23]:
user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome()

try:
    driver.get(url)
    time.sleep(2)
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'html.parser')
    tweets = soup.select("div [class = 'css-1dbjc4n r-1habvwh'] > div[dir='auto']")
    num_tweets = tweets[0].text.replace("\xa0",' ')
    driver.quit()
    print(f'User {user} got {num_tweets}')
    
except:
    print('User invalid, try again.')
    driver.quit()

 diuidssdibdsbsial

User invalid, try again.

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
user = input()
url = f'https://twitter.com/{user}'
driver = webdriver.Chrome()

try:
    driver.get(url)
    time.sleep(2)
    html_source = driver.page_source
    soup = BeautifulSoup(html_source, 'html.parser')
    follow = soup.select(f"a[href = '/{user}/followers']")
    followers = follow[0].text.replace("\xa0",' ').replace('Seguidores','followers')
    driver.quit()
    print(f'User: {user} got {followers}')
    
except:
    print('User invalid, try again.')
    driver.quit()

 BarackObama

User BarackObama got 130,3 M followers

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'
html = requests.get(url).content
soup = BeautifulSoup(html, 'html')

In [ ]:
lenguages = [i.text for i in soup.find_all('strong',class_ = False)]
souparticles = [i.text.replace(u'\xa0', '').replace('+','') for i in soup.find_all('bdi')]
articles = souparticles[0:11]
articles.pop(-3)
df = pd.DataFrame(list(zip(lenguages, articles)), columns = ['Languages','No. Articles'])
df

   Languages No. Articles
0    English      6458000
1        日本語      1314000
2   Français      2400000
3    Español      1755000
4    Русский      1798000
5    Deutsch      2667000
6   Italiano      1742000
7         中文      1256000
8      فارسی       866000
9  Português      1085000

#### A list with the different kind of datasets available in data.gov.uk

In [24]:
url = 'https://data.gov.uk/'
html = requests.get(url).content
soup = BeautifulSoup(html, 'html')

In [25]:
datasets = [i.text for i in soup.find_all('h3')]
datasets

['Business and economy',
 'Crime and justice',
 'Defence',
 'Education',
 'Environment',
 'Government',
 'Government spending',
 'Health',
 'Mapping',
 'Society',
 'Towns and cities',
 'Transport',
 'Digital service performance',
 'Government reference data']

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [26]:
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'
html = requests.get(url).content
top_lang_soup = BeautifulSoup(html)
top_langs = top_lang_soup.find('table',{'class':'sortable'})
rows = top_langs.find_all('tr')
top_languages = [row.find('a').text for row in rows[1:]][:10]

top_lan = pd.DataFrame((range(1,11),top_languages), index = ['position','language']).T
top_lan

  position          language
0        1  Mandarin Chinese
1        2           Spanish
2        3           English
3        4             Hindi
4        5           Bengali
5        6        Portuguese
6        7           Russian
7        8          Japanese
8        9       Yue Chinese
9       10        Vietnamese

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [27]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top/'
html = requests.get(url).content
imdb_soup = BeautifulSoup(html)

titles = [x.a.text for x in imdb_soup.select('.titleColumn')]
links = ['https://www.imdb.com/' + x.a['href'] for x in imdb_soup.select('.titleColumn')]
releases = [x.span.text.strip('[()]') for x in imdb_soup.select('.titleColumn')]
directors = [re.findall('(.*) \(dir.\)', x.a['title'])[0] for x in imdb_soup.select('.titleColumn')]
ratings = [x.text.strip('\n') for x in imdb_soup.find_all('td',{'class':'ratingColumn imdbRating'})]
imdb_df = pd.DataFrame(list(zip(titles,releases,directors,ratings)),columns=['Movie','Release','Director','Stars'])

imdb_df.head()

                              Movie Release              Director Stars
0                     Sueño de fuga    1994        Frank Darabont   9.2
1                        El padrino    1972  Francis Ford Coppola   9.2
2  Batman: El caballero de la noche    2008     Christopher Nolan   9.0
3                     El padrino II    1974  Francis Ford Coppola   9.0
4               12 hombres en pugna    1957          Sidney Lumet   9.0

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [28]:
# Acá usamos la lista de links que generamos antes
summary = []

for link in links[:10]:
    html = requests.get(link).content
    imdb_soup = BeautifulSoup(html)
    summary.append(imdb_soup.find('span',{'class':'sc-16ede01-1 kgphFu'}).text)

pd.DataFrame(list(zip([i for i in range(1,11)],titles,releases,summary)), columns=['No.','Movie','Release','Summary'])

,No.,Movie,Release,Summary
0,1,Sueño de fuga,1994,Two imprisoned men bond over a number of years...
1,2,El padrino,1972,The aging patriarch of an organized crime dyna...
2,3,Batman: El caballero de la noche,2008,When the menace known as the Joker wreaks havo...
3,4,El padrino II,1974,The early life and career of Vito Corleone in ...
4,5,12 hombres en pugna,1957,The jury in a New York City murder trial is fr...
5,6,La lista de Schindler,1993,"In German-occupied Poland during World War II,..."
6,7,El señor de los anillos: El retorno del rey,2003,Gandalf and Aragorn lead the World of Men agai...
7,8,Tiempos violentos,1994,"The lives of two mob hitmen, a boxer, a gangst..."
8,9,El señor de los anillos: La comunidad del anillo,2001,A meek Hobbit from the Shire and eight compani...
9,10,"El bueno, el malo y el feo",1966,A bounty hunting scam joins two men in an unea...

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [78]:
# https://openweathermap.org/current 
# Para obtener tu key es necesario crear una cuenta (es gratis) :D
city = 'Dubai'
key = 'cf48db471e52c583c39b04e256dd4c01'
url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={key}'
html = requests.get(url)
city_json = html.json()
print(f"Currently, {city} is {city_json['weather'][0]['main']} with {city_json['weather'][0]['description']}, {city_json['main']['temp']} °K temperature and wind speed of {city_json['wind']['speed']} per second")

Currently, Dubai is Clear with clear sky, 300.69 °K temperature and wind speed of 3.6 per second

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 

book_df=pd.DataFrame(columns=['Title','Price','Availability','Stars'])
url_pattern = 'http://books.toscrape.com/catalogue/page-%s.html'

for i in range(1,51):
    url = url_pattern%i
    html = requests.get(url).content
    book_soup = BeautifulSoup(html)
    titles = [x.a['title'] for x in book_soup.find_all('h3')]
    prices = [x.text for x in book_soup.select('.price_color')]
    in_stock = [re.sub('\n','',x.text).strip() for x in book_soup.select('.instock')]
    ratings = [x['class'][1] for x in book_soup.select('.star-rating')]
    temp_books_df = pd.DataFrame(list(zip(titles,prices,in_stock,ratings)), columns = ['Title','Price','Availability','Stars'])
    book_df = book_df.append(temp_books_df, ignore_index=True)
    
book_df

,Title,Price,Availability,Stars
0,A Light in the Attic,£51.77,In stock,Three
1,Tipping the Velvet,£53.74,In stock,One
2,Soumission,£50.10,In stock,One
3,Sharp Objects,£47.82,In stock,Four
4,Sapiens: A Brief History of Humankind,£54.23,In stock,Five
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,In stock,One
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,In stock,Four
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,In stock,Five
998,1st to Die (Women's Murder Club #1),£53.98,In stock,One
999,"1,000 Places to See Before You Die",£26.08,In stock,Five