![Ironhack Logo](https://i.imgur.com/1QgrNNw.png)

In [ ]:
from pymongo import MongoClient
client=MongoClient()
db=client.companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
FILTER: {name: {$eq: 'Babelgum'}}
PROJECT: {name:1}

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
FILTER: {number_of_employees: { $gt: 5000 }} 
PROJECT: {name: 1 , number_of_employees: 1}
SORT: {number_of_employees: 1}
LIMIT: 20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [ ]:
FILTER: { $and: [ { founded_year: { $gte: 2000 } }, { founded_year: { $lte: 2005} } ] } 
PROJECT: {name: 1, founded_year: 1}

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
FLTER: {$and: [{"ipo.valuation_amount": {$gt: 10000000}}, {founded_year:{$lt: 2010}}]}                  
PROJECT: {name: 1, ipo: 1}

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
FILTER: { $and: [{ number_of_employees: { $lt: 1000 } }, {founded_year:{$lt: 2005}}] }
PROJECT:  {name: 1, number_of_employees: 1, founded_year: 1}
SORT:  { number_of_employees: 1} 
LIMIT: 10

### 6. All the companies that don't include the `partners` field.

In [ ]:
FILTER: { partners: { $size: 0 } }
PROJECT: { name: 1 }

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
FILTER: { category_code: { $type: 'null'} }
PROJECT: { name: 1 }

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
FILTER: { $and: [{ number_of_employees: { $gte: 100 } }, {number_of_employees: { $lt: 1000 }}] }
PROJECT:  {name: 1, number_of_employees: 1}

### 9. Order all the companies by their IPO price descendently.

In [ ]:
FILTER:  {name: 1 } 
SORT: { ipo.valuation_amount -1 }

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
FILTER:  {name: 1 } 
SORT:  {number_of_employees: -1 }
LIMIT: 10

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
FILTER:  { $and: [{founded_month: { $gt: 5 } }, {founded_month:{$lte: 12}}] }
PROJECTION:  {name: -1 }
LIMIT: 1000

### 12. All the companies that have been 'deadpooled' after the third year.

In [ ]:
FILTER: { deadpooled_year: { $gt: 3 }}

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [ ]:
FILTER: { $and: [{ founded_year: {$lt: 2000} }, {"acquisition.price_amount": { $gt: 10000000 }}] }

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [ ]:
FILTER: { "acquisition.acquired_year": { $gt: 2015 } } 
PROJECT: {name: 1, acquisition: 1 } 
SORT: { "acquisition.price_amount": -1 }

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
FILTER: {name: 1, founded_year: 1 } 
SORT: { founded_year: -1 }

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [ ]:
FILTER: { founded_day: { $lte: 7} } 
SORT: { "acquisition.price_amount": -1 }
LIMIT: 10

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [ ]:
FILTER: { $and: [{ category_code: "web" }, { number_of_employees: {$gt: 4000} }] } 
SORT: { number_of_employees: 1}

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [ ]:
FILTER: { $and: [{ 'acquisition.price_currency_code': "EUR" }, { 'acquisition.price_amount': {$gt: 10000000} }] }

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
FILTER: { 'acquisition.acquired_month':{$lte: 3} } 
PROJECT: {name: 1, acquisition: 1 } 
LIMIT: 10

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
FILTERGIT
: { $and: [{ founded_year: {$gte: 2000} }, { founded_year: {$lte: 2010} }, { "acquisition.acquired_year": {$gte: 2011} }] }